$navColor: skyblue;
$navColorSelected: deepskyblue;
$navColorHover: deepskyblue;
$navBorderColor: deepskyblue;
$navButtonColor: white;
$headerColor: white;

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-top: 0px;
}

option {}

input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label {
    width: 35px;
    height: 35px;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    background-color: lightgray;
    position: relative;
    top: 9px;
}
.header {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: $headerColor;
}

.hide {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}


.lightbox {
    background: url("/images/black-33-percent-pixel.png");
    background-repeat: repeat;
    padding: 50px;
    transition: padding
}

.bg-image {
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.container {
 width: 100%;
}

.bold-text {
    font-weight: bolder;
}

.white-text {
    color: rgba(255, 255, 255, 255);
}

.activity-list {
    color: rgba(255, 255, 255, 255);
    font-size: 1.5em;
    list-style-type: none;
    text-align: left;
    border-style: none;
    overflow-y: scroll;
    height: 150px;

    li {
        margin: 25px 0px 25px 0px;
    }
}

.text-1-5em {
    font-size: 1.5em;
}

.margin-top-100px {
    margin-top: 100px;
}
.center-text {
    text-align: center;
}

.nav-not-selected {
    background-color: $navColor;
}

.nav-selected {
    background-color: $navColorSelected;
}

.nav-idle {
    background-color: $navColor;
}

.nav-button {

    font-size: 1.5em;
    font-weight: bold;
    color: $navButtonColor;
    padding: 20px 0px;
    border-left: none;
    border-top: none;
    border-bottom: 3px solid $navBorderColor;
    border-right:  none;
    width: 100%;

    &:hover {
        background-color: $navColorHover;
    }

    ul {
        z-index: 1;
        background-color: gray;
        width: 100%;
    }
}

.subnav-menu {
    margin-top: 25px;
    font-size: 1.25em;


}

.subnav-image {
    max-width: 90%;
}
ul li {
    list-style-type: none;
    padding: 10px 0px;
}

.no-padding {
    padding: 0px
}
#navbar {
    background-color: $navColor;

    select {
        //border-radius: 5px;
        padding: 5px;
        margin: 10px 0px;
        background-color: $navColor;
        border: none;
        width: 100%;
    }

}

#lightbox-landing-page {
    animation: 2s 1 normal slideUp100, 3s 1 normal fadeIn;

    select {
        //border-radius: 5px;
        padding: 5px;
        margin: 10px 0px;
        border: none;
    }
}

#intro {
    animation: 2s 1 normal slideUp100, 3s 1 normal fadeIn;
}

#activities {
    animation: 1.5s 1 normal slideUp100, 1.5s 1 normal fadeIn;
}

$submitTopMargin: 50px;
#submit-landing-page {
    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
    font-size: 1.75em;
    padding: 25px;
    margin-top: $submitTopMargin;
    border-radius: 12px;
    border-style: none;

    animation: 1.5s 1 normal slideUp25, 1.5s 1 normal fadeIn;;

    &:hover {
        box-shadow: -2px 10px 25px 5px rgba(0, 0, 0, 0.1);
        background-color: #5384dc;
        transition: box-shadow 0.5s;
    }
}

#map-canvas {
    height: 75vh;
}

#day {
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    height: 75vh;
    background-color: rgba(0, 0, 0, 0.35);
    border: 30px solid rgba(255, 255, 255, 0);
    animation: 2s 1 normal slideUp100, 3s 1 normal fadeIn;
}

#hotelsImage, #restaurantsImage, #activitiesImage {
    animation: 1.5s 1 normal slideUp100, 1.5s 1 normal fadeIn;
}

.fade-in {
    animation: 3s 1 normal fadeIn;
}

.fade-in-33 {
    animation: 2s 1 normal fadeIn33;
}

.fade-in-fast {
    animation: 0.5s 1 normal fadeInFast;
}

@keyframes fadeIn {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn33 {
    from {
        opacity: 0.1;
    }

    to {
        opacity: .33;
    }
}

@keyframes fadeInFast {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp100 {
    from {
        transform: translateY(100px);
    }

    to {
        transform: translateY(0px);
    }
}

@keyframes slideUp25 {
    from {
        transform: translateY(25px);
    }

    to {
        transform: translateY(0px);
    }
}